@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    margin: 0;
    background-color: #102B3F;
}

/* Styles to display weather data */
#weather-details {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    flex-wrap: wrap;
    color: aliceblue;
    align-items: center;
}

#temp-number,
#temp-unit {
    color: #ffd098;
}

#current-weather {
    display: flex;
}

#temp-number {
    font-size: 73px;
    display: inline-block;
}

#temp-unit {
    display: inline-block;
    vertical-align: top;
    margin-top: 11px;
    font-size: 25px;
}

#other-details {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    padding-left: 10px;
    font-size: 13px;
}

#other-details-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#feels-like {
    display: flex;
    margin-bottom: 23px;
    width: 45px;
    text-align: right;
    font-size: 10px;
    font-weight: bold;
    padding-left: 10px;
}

#feels-like-value {
    font-size: 20px;
    padding-left: 5px;
}

#sun-section {
    display: flex;
    flex-direction: column;
}

#area-details {
    display: flex;
    gap: 17px;
    align-items: center;
}

/* styles to display heading on top */
.heading {
    margin: auto;
    text-align: center;
    font-family: 'Cookie', cursive;
    color: rgb(233, 166, 166);
    font-size: 30px;
}

/* Styles to display images */
#gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    justify-content: center;
    padding: 0;
    align-items: center;
    padding: 0 30px 0 30px;
}

.thumbnails {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: auto;
}



.img-overlay {
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    height: 20%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 5px;
    transform: translateY(134px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.container:hover .img-overlay {
    opacity: 0.9;
    transform: translateY(0px);
}

.container {
    position: relative;
    overflow: hidden;
}

.author-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 5px;
}

.author-link {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0 10px 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#next-button:hover {
    cursor: pointer;
    color: #008CBA;
}

#prev-button:hover {
    cursor: pointer;
    color: #008CBA;
}

footer {
    padding: 20px;
    background: #062726;
    font-family: 'Roboto', sans-serif;
    color: #008CBA;
}

@media screen and (max-width:660px) {
    #weather-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:959px) {
    #message {
        order: 1;
        width: 100%;
    }
}